{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Company index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Logo</th>
                <th>Type</th>
                <th>Name</th>
                <th>StripeId</th>
                <th>BaCode</th>
                <th>Deleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.logo }}</td>
                <td>{{ company.type }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.stripeId }}</td>
                <td>{{ company.baCode }}</td>
                <td>{{ company.deleted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('shared_company_show', {'id': company.id}) }}">show</a>
                    <a href="{{ path('shared_company_edit', {'id': company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('shared_company_new') }}">Create new</a>
{% endblock %}